<div id="modal-add-categorie" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title"><i class="fas fa-hammer"></i> Gestion de mes catégories</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <select class="form-control" id="select-categorie"
                                    data-url="{{ path('load_categorie', {'id' : -1}) }}">
                                <option value="-1" selected>Nouvelle Catégorie</option>
                                {% for categorie in app.user.categories %}
                                    <option data-icon="{{ categorie.icon }}" data-subtext="Editer"
                                            value="{{ categorie.id }}">{{ categorie.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <label for="titre-categorie">Titre de ma catégorie</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary" type="button" data-url="{{ path('iconfa_categorie') }}"
                                        id="categorie-change-icon"><i id="categorie-icon-fa" class="fas fa-plane"
                                                                      data-fa="fa-plane"></i>
                                </button>
                            </div>
                            <input type="text" id="titre-categorie" class="form-control" placeholder="Mes voyages"
                                   aria-label=""
                                   aria-describedby="Nouvelle catégorie">
                            <div class="invalid-feedback">
                                Merci de saisir le nom de votre catégorie.
                            </div>
                        </div>

                        <div class="row invisible" id="checkbox-disabled">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="disabled-categorie">
                                    <label class="form-check-label" for="disabled-categorie">
                                        Masquer la catégorie
                                    </label>
                                </div>
                            </div>

                            <div class="col">
                                - Supprimer cette catégorie
                            </div>

                        </div>


                        <div id="categorie-liste-fa">
                            <fieldset>
                                <legend>Astuces</legend>
                                <i class="fas fa-arrow-right"></i> Cliquez sur l'icone <i id="tips-icon"
                                                                                          class="fas fa-plane"></i> pour
                                la changer <br/>
                                <i class="fas fa-arrow-right"></i> Utilise l'aperçu pour positionner ta catégorie
                            </fieldset>
                        </div>


                    </div>
                    <div class="col-4 border-left ">
                        <fieldset>
                            <legend>Aperçu</legend>
                            <ul id="liste-categorie-apercu">
                                {% for categorie in app.user.categories %}
                                    <li id="{{ categorie.id }}"><i
                                                class="{{ categorie.icon }}"
                                                id="cat-apercu-icon-{{ categorie.id }}"></i> <span
                                                id="cat-apercu-txt-{{ categorie.id }}">{{ categorie.name }}</span></li>
                                {% endfor %}
                                <li id="new" class="text-primary"><i class="fas fa-plane" id="cat-apercu-icon"></i>
                                    <span
                                            id="cat-apercu-txt">Mes voyages</span></li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div id="msg-categorie-success" class="text-primary text-hide"><i>Action réalisée avec succès -
                        Fermeture de la popine...</i></div>
                <button type="button" class="btn btn-primary float-right" id="submit-categorie"
                        data-url="{{ path('manage_categorie') }}">Créer ma catégorie
                </button>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#modal-add-categorie').modal({
                backdrop: 'static',
                show: true
            });

            Categorie.Launch();
            Categorie.EventManagement();

            $('#modal-add-categorie').on('hidden.bs.modal', function (e) {
                Menu.Load();
            });

            $('#select-categorie').selectpicker();
        });


    </script>
{% endblock %}