<ul class="list-unstyled components">
	{% for categorie in app.user.categories %}
			<li class="active">
        		<a href="#cat-{{ categorie.id }}" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> 
        			<i class="{{ categorie.icon }}"></i> <span>{{ categorie.name }}</span>
        		</a>
        		<ul class="collapse list-unstyled" id="cat-{{ categorie.id }}">
        			{% for page in categorie.pages %}
        				<li>
        					<a href="{{ path('ajax_page_edit', {id_page : page.id})}}">
        						<span class="txt-full">{{ page.name }}</span>
        						<span class="txt-truncate">{{ page.name|u.truncate(4) }}.</span>
								<i class="fas fa-edit"></i>
        					</a>
        				</li>
        			{% endfor %}
					<li>
						<a href="#"><i class="fas fa-plus"></i> Nouvelle page</a>
					</li>
        		</ul>
        	</li>
	{% endfor %}
	<li class="active">
		<a href="#"><i class="fas fa-plus"></i> <span>Nouvelle catégorie</span></a>
	</li>
</ul>

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function() {
	    	Menu.Event();
        });
    </script>
{% endblock %}