<ul class="list-unstyled components">
	{% for categorie in app.user.categories %}
			<li class="active">
        		<a href="#cat-{{ categorie.id }}" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> 
        			<i class="{{ categorie.icon }}"></i> <span>{{ categorie.name }}</span>
        		</a>
        		<ul class="collapse list-unstyled" id="cat-{{ categorie.id }}">
        			{% for page in categorie.pages %}
        				<li>
        					<a href="{{ path('ajax_page', {id_cat : categorie.id, id_page : page.id})}}">
        						<span class="txt-full">{{ page.name }}</span>
        						<span class="txt-truncate">{{ page.name|u.truncate(4) }}.</span>
        					</a>
        				</li>
        			{% endfor %}
        		</ul>
        	</li>
		
	{% endfor %}
	<!-- <li class="active">
		<a href="#homeSubmenu" data-toggle="collapse"
		aria-expanded="false" class="dropdown-toggle"> 
			<i class="fas fa-user"></i> Home
		</a>
		<ul class="collapse list-unstyled" id="homeSubmenu">
			<li><a href="#">Home 1</a></li>
			<li><a href="#">Home 2</a></li>
			<li><a href="#">Home 3</a></li>
		</ul>
	</li>
	<li>
		<a href="#"> <i class="fas fa-briefcase"></i> About</a> 
		<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
		class="dropdown-toggle"> 
			<i class="fas fa-copy"></i> Pages
		</a>
		<ul class="collapse list-unstyled" id="pageSubmenu">
			<li><a href="#">Page 1</a></li>
			<li><a href="#">Page 2</a></li>
			<li><a href="#">Page 3</a></li>
		</ul>
	</li>-->
</ul>

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function() {
	    	Menu.Event();
        });
    </script>
{% endblock %}